            <div class="container" style="padding-top: 2%; padding-bottom: 2%;">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <img src="/images/building.jpg" class="img-responsive" style="border: 2px solid white; border-radius: 5px;">
                    </div>                    
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h4>Как проехать</h4>
                        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                    </div>
                </div>
            </div>
            <div class="container-fluid"> 
                <div class="row">   
                    <div class="col-lg-12" style="padding: 0px;">
                        <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=oWTzNOgnovWjcXOjdEIjqQ7yNgpYaSmi&width=100%&height=475&lang=ru_RU&sourceType=constructor"></script>
                    </div>
                </div>
            </div>
            