<div class="container" style="padding-top: 4%">
        <!--<div class="text-center hidden-xs"><h3 style="margin-bottom: 3%">Медицинские услуги клиники по направлениям</h3></div>
        <div class="text-center visible-xs"><h4 style="margin-bottom: 5%;">Медицинские услуги клиники по направлениям</h4></div>-->

        <div class="row">
            <div class="col-md-4 col-xs-12 col-sm-4">         
                <a href="/uslugi/1">
                    <img src="/images/analizy.jpg" class="img-responsive">
                    <p class="text-center">Анализы</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/2">
                    <img src="/images/vakcina.jpg" class="img-responsive"> 
                    <p class="text-center">Вакцинация</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/3">
                    <img src="/images/mscope.jpg" class="img-responsive">
                    <p class="text-center hidden-sm">Дерматовенерология</p>
                    <p class="text-center visible-sm" style="bottom: 25%">Дерматология и<br>венерология</p>
                </a>
            </div>            
        </div>

        <div class="row hidden-xs" style="margin-top: 3%; margin-bottom: 2%">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/4">
                    <img src="/images/terapeut.jpg" class="img-responsive">
                    <p class="text-center">Гинекология</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/5">
                    <img src="/images/kardio.jpg" class="img-responsive">
                    <p class="text-center">Кардиология</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/6">                    
                    <img src="/images/neurology.jpg" class="img-responsive">
                    <p class="text-center">Неврология</p> 
                </a>
            </div>            
        </div>

        <div class="row visible-xs">
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/4">
                    <img src="/images/terapeut.jpg" class="img-responsive">
                    <p class="text-center">Гинекология</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/5">
                    <img src="/images/kardio.jpg" class="img-responsive">
                    <p class="text-center">Кардиология</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/16">                    
                    <img src="/images/neurology.jpg" class="img-responsive">
                    <p class="text-center">Неврология</p> 
                </a>
            </div>            
        </div>

        <div class="row hidden-xs" style="margin-top: 3%; margin-bottom: 2%">            
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/7">                    
                    <img src="/images/ophtalmo.jpg" class="img-responsive">
                    <p class="text-center">Окулист</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/8">
                    <img src="/images/psycho.jpg" class="img-responsive">
                    <p class="text-center">Психотерапевт</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/9">                    
                    <img src="/images/dental2.jpg" class="img-responsive">
                    <p class="text-center">Стоматология</p>
                </a>
            </div>
        </div>

        <div class="row visible-xs">            
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/7">                    
                    <img src="/images/ophtalmo.jpg" class="img-responsive">
                    <p class="text-center">Окулист</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/8">
                    <img src="/images/psycho.jpg" class="img-responsive">
                    <p class="text-center">Психотерапевт</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/9">                    
                    <img src="/images/dental2.jpg" class="img-responsive">
                    <p class="text-center">Стоматология</p>
                </a>
            </div>
        </div>



        <div class="row hidden-xs" style="margin-top: 3%; margin-bottom: 3%">           
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/10">
                    <img src="/images/ginec.jpg" class="img-responsive">
                    <p class="text-center">Терапевт</p>
                </a>
            </div>            
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/11">
                    <img src="/images/trauma.jpg" class="img-responsive">
                    <p class="text-center">Травматология</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/12">
                    <img src="/images/diagnostika.jpg" class="img-responsive">
                    <p class="text-center">Урология</p>
                </a>
            </div>
        </div>

        <div class="row visible-xs">           
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/10">
                    <img src="/images/ginec.jpg" class="img-responsive">
                    <p class="text-center">Терапевт</p>
                </a>
            </div>            
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/11">
                    <img src="/images/trauma.jpg" class="img-responsive">
                    <p class="text-center">Травматология</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/12">
                    <img src="/images/diagnostika.jpg" class="img-responsive">
                    <p class="text-center">Урология</p>
                </a>
            </div>
        </div>       
       
        <!--<h3 class="text-center hidden-xs" style="margin-bottom: 3%">Медицинские справки</h3>
        <h4 class="text-center visible-xs" style="margin-bottom: 5%;">Медицинские справки</h4>-->
        
        <div class="row hidden-xs" style="margin-top: 3%; margin-bottom: 2%">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/13">                    
                    <img src="/images/drive.jpg" class="img-responsive">
                    <p class="text-center">Водителям</p> 
                </a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/14">                   
                    <img src="/images/book.jpg" class="img-responsive">
                    <p class="text-center">Медкнижка</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/15">
                    <img src="/images/rifle.jpg" class="img-responsive">
                    <p class="text-center">Оружие</p>
                </a>
            </div>
        </div>

        <div class="row visible-xs">
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/13">                    
                    <img src="/images/drive.jpg" class="img-responsive">
                    <p class="text-center">Водителям</p> 
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/14">                   
                    <img src="/images/book.jpg" class="img-responsive">
                    <p class="text-center">Медкнижка</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/15">
                    <img src="/images/rifle.jpg" class="img-responsive">
                    <p class="text-center">Оружие</p>
                </a>
            </div>
        </div>


        <div class="row hidden-xs" style="margin-top: 3%; margin-bottom: 2%">
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/16">
                    <img src="/images/office.jpg" class="img-responsive">
                    <p class="text-center">Для госслужащих</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/17">                    
                    <img src="/images/pull.jpg" class="img-responsive">
                    <p class="text-center">Бассейн</p> 
                </a>
            </div>
            <div class="col-md-4 col-xs-12 col-sm-4">
                <a href="/uslugi/18">
                    <img src="/images/student.jpg" class="img-responsive">
                    <p class="text-center">Студентам</p>
                </a>
            </div>
        </div>

        <div class="row visible-xs">
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/16">
                    <img src="/images/office.jpg" class="img-responsive">
                    <p class="text-center">Для госслужащих</p>
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/17">                    
                    <img src="/images/pull.jpg" class="img-responsive">
                    <p class="text-center">Бассейн</p> 
                </a>
            </div>
            <div class="col-md-4 col-xs-12">
                <a href="/uslugi/18">
                    <img src="/images/student.jpg" class="img-responsive">
                    <p class="text-center">Студентам</p>
                </a>
            </div>
        </div>                
</div><!--container-->
