<div class="container" style="padding-top: 15px; margin-top: 4px;">
      <div class="visible-md visible-lg">
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <a href="/uslugi/1"><button type="button" class="btn btn-default">СТОМАТОЛОГИЯ</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/2"><button type="button" class="btn btn-default">АНАЛИЗЫ</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/3"><button type="button" class="btn btn-default">ГИНЕКОЛОГИЯ</button></a>
          </div>
        </div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <a href="/uslugi/4"><button type="button" class="btn btn-default">ДЕРМАТОЛОГИЯ И ВЕНЕРОЛОГИЯ</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/5"><button type="button" class="btn btn-default">КАРДИОЛОГИЯ</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/6"><button type="button" class="btn btn-default">ТЕРАПЕВТ</button></a>
          </div>
        </div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <a href="/uslugi/7"><button type="button" class="btn btn-default">УРОЛОГИЯ</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/8"><button type="button" class="btn btn-default">УЗИ</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/9"><button type="button" class="btn btn-default">ЭНДОКРИНОЛОГИЯ</button></a>
          </div>
        </div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <a href="/uslugi/10"><button type="button" class="btn btn-default">МЕДИЦИНСКИЕ СПРАВКИ</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/11"><button type="button" class="btn btn-default">МЕДИЦИНСКАЯ КНИЖКА</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/12"><button type="button" class="btn btn-default">ПРОФОСМОТР ДЛЯ ОРГАНИЗАЦИЙ</button></a>
          </div>
        </div>
      </div>

      <div class="visible-sm">
        <div class="btn-group btn-group-justified" role="group" aria-label="..." style="font-size: 0.9em;">
          <div class="btn-group" role="group">
            <a href="/uslugi/1"><button type="button" class="btn btn-default">СТОМАТОЛОГИЯ</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/2"><button type="button" class="btn btn-default">АНАЛИЗЫ</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/3"><button type="button" class="btn btn-default">ГИНЕКОЛОГИЯ</button></a>
          </div>
        </div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <a href="/uslugi/4"><button type="button" class="btn btn-default">ДЕРМАТОЛОГИЯ И ВЕНЕРОЛОГИЯ</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/5"><button type="button" class="btn btn-default">КАРДИОЛОГИЯ</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/6"><button type="button" class="btn btn-default">ТЕРАПЕВТ</button></a>
          </div>
        </div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <a href="/uslugi/7"><button type="button" class="btn btn-default">УРОЛОГИЯ</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/8"><button type="button" class="btn btn-default">УЗИ</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/9"><button type="button" class="btn btn-default">ЭНДОКРИНОЛОГИЯ</button></a>
          </div>
        </div>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <a href="/uslugi/10"><button type="button" class="btn btn-default">МЕДИЦИНСКИЕ СПРАВКИ</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/11"><button type="button" class="btn btn-default">МЕДИЦИНСКАЯ КНИЖКА</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="/uslugi/12"><button type="button" class="btn btn-default">ПРОФОСМОТР ДЛЯ ОРГАНИЗАЦИЙ</button></a>
          </div>
        </div>
      </div>


        <div class="visible-xs">
            <nav>
                <ul class="nav nav-justified" style="padding-bottom: 1%;">
                    <li><a href="/uslugi/1">СТОМАТОЛОГИЯ</a></li>
                    <li><a href="/uslugi/2">АНАЛИЗЫ</a></li>                        
                    <li><a href="/uslugi/3">ГИНЕКОЛОГИЯ</a></li>
                    <li><a href="/uslugi/4">ДЕРМАТОЛОГИЯ И ВЕНЕРОЛОГИЯ</a></li> 

                    <li><a href="/uslugi/5">КАРДИОЛОГИЯ</a></li>
                    <li><a href="/uslugi/6">ТЕРАПЕВТ</a></li>                        
                    <li><a href="/uslugi/7">УРОЛОГИЯ</a></li>
                    <li><a href="/uslugi/8">УЗИ</a></li>

                    <li><a href="/uslugi/9">ЭНДОКРИНОЛОГИЯ</a></li>
                    <li><a href="/uslugi/10">МЕДИЦИНСКИЕ СПРАВКИ</a></li>
                    <li><a href="/uslugi/11">МЕДИЦИНСКАЯ КНИЖКА</a></li>                        
                    <li><a href="/uslugi/12">ПРОФОСМОТР ДЛЯ ОРГАНИЗАЦИЙ</a></li>
                </ul>
            </nav>
        </div>                 
</div><!--container-->
