<!--<h4 class="text-center heading" style="font-size: 1.6em; color: white; padding-top: 3%; padding-bottom: 3%; background-color: #7C93B7;">УСЛУГИ</h4>-->
<div class="container budy" style="padding-top: 2%; padding-bottom: 4%;">
        <div class="row fieldlines" style="padding-top: 1%;">
            <div class="col-md-4 col-sm-4">
                <a href="/uslugi/1">                    
                    <img src="/images/dantist.jpg" class="img-responsive">
                    <p class="text-center field">СТОМАТОЛОГИЯ</p>
                </a>
            </div> 
            <div class="col-md-4 col-sm-4">         
                <a href="/uslugi/2">
                    <img src="/images/analizy.jpg" class="img-responsive">
                    <p class="text-center field">АНАЛИЗЫ</p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="/uslugi/3">
                    <img src="/images/ginec.jpg" class="img-responsive">
                    <p class="text-center field">ГИНЕКОЛОГИЯ</p>
                </a>
            </div>                 
        </div>
        <div class="row fieldlines">
            <div class="col-md-4 col-sm-4">
                <a href="/uslugi/4">
                    <img src="/images/mscope.jpg" class="img-responsive">
                    <p class="text-center field" style="bottom: 35%">ДЕРМАТОЛОГИЯ И<br>ВЕНЕРОЛОГИЯ</p>
                </a>
            </div>  
            <div class="col-md-4 col-sm-4">
                <a href="/uslugi/5">
                    <img src="/images/kardio.jpg" class="img-responsive">
                    <p class="text-center field">КАРДИОЛОГИЯ</p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="/uslugi/6">
                    <img src="/images/terapeut.jpg" class="img-responsive">
                    <p class="text-center field">ТЕРАПЕВТ</p>
                </a>
            </div>              
        </div>
        <div class="row fieldlines">                                    
            <div class="col-md-4 col-sm-4">
                <a href="/uslugi/7">
                    <img src="/images/diagnostika.jpg" class="img-responsive">
                    <p class="text-center field">УРОЛОГИЯ</p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="/uslugi/8">
                    <img src="/images/ultra.jpg" class="img-responsive">
                    <p class="text-center field">УЗИ</p>
                </a>
            </div>
            <div class="col-md-4 col-sm-4">
                <a href="/uslugi/9">                    
                    <img src="/images/spravki.jpg" class="img-responsive">
                    <p class="text-center field" style="bottom: 20%;">СПРАВКИ,<br> МЕДКНИЖКИ,<br> ПРОФОСМОТР ДЛЯ<br> ОРГАНИЗАЦИЙ</p> 
                </a>
            </div>
        </div>
</div><!--container-->
