 <!-- Carousel================================================== -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
            <!--<ol class="carousel-indicators hidden-xs hidden-sm">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
            </ol>-->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container">
                        <div class="slide-wrapper">
                            <div class="row">
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="slide-image">
                                        <div class="thumbnail">
                                            <img class="center-block img-responsive" src="/images/neurology.jpg" alt="1"/>
                                        </div>                                    
                                    </div>
                                </div>
                                <div class="col-lg-7 col-sm-8">
                                    <div class="slide-content">
                                        <h3 class="hidden-xs hidden-sm">Программа лояльности</h3>
                                        <p class="visible-xs visible-sm">Программа лояльности</p>
                                        <p class="hidden-xs hidden-sm">₽500 / месяц</p>
                                        <small class="visible-xs visible-sm">₽500 / месяц</small>
                                        <p class="hidden-xs hidden-sm">Ежемесячный осмотр стоматолога и терапевта*</p>
                                        <small class="visible-xs visible-sm">Ежемесячный осмотр стоматолога и терапевта*</small>
                                        <a href="/appointment" class="btn btn-success hidden-xs hidden-sm">Подписаться</a>
                                        <a href="/appointment"><button type="button" class="btn btn-success btn-sm visible-xs visible-sm">Подписаться</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="slide-wrapper">
                            <div class="row">
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="slide-image">
                                        <div class="thumbnail">
                                            <img class="center-block img-responsive" src="/images/spravki.jpg" alt="2"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-sm-8">
                                    <div class="slide-content">
                                        <h3 class="hidden-xs hidden-sm">Подписка на анализы</h3>
                                        <p class="visible-xs visible-sm">Подписка на анализы</p>
                                        <p class="hidden-xs hidden-sm">₽500 / месяц</p>
                                        <small class="visible-xs visible-sm">₽500 / месяц</small>
                                        <p class="hidden-xs hidden-sm">Выбор из трех видов анализов по акции*</p>
                                        <small class="visible-xs visible-sm">Выбор из трех видов анализов по акции*</small>
                                        <a href="/appointment" class="btn btn-success hidden-xs hidden-sm">Подписаться</a>
                                        <a href="/appointment"><button type="button" class="btn btn-success btn-sm visible-xs visible-sm">Подписаться</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="slide-wrapper">
                            <div class="row">
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="slide-image">
                                        <div class="thumbnail">
                                            <img class="center-block img-responsive" src="/images/dental3.jpg" alt="3"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-sm-8">
                                    <div class="slide-content">
                                        <h3 class="hidden-xs hidden-sm">Гигиена полости рта</h3>
                                        <p class="visible-xs visible-sm">Гигиена полости рта</p>
                                        <p class="hidden-xs hidden-sm">₽500 / месяц</p>
                                        <small class="visible-xs visible-sm">₽500 / месяц</small>
                                        <p class="hidden-xs hidden-sm">Чистка зубов и профилактика болезней десен*</p>
                                        <small class="visible-xs visible-sm">Чистка зубов и профилактика болезней десен*</small>
                                        <a href="/appointment" class="btn btn-success hidden-xs hidden-sm">Подписаться</a>
                                        <a href="/appointment"><button type="button" class="btn btn-success btn-sm visible-xs visible-sm">Подписаться</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="slide-wrapper">
                            <div class="row">
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="slide-image">
                                        <div class="thumbnail">
                                            <img class="center-block img-responsive" src="/images/rifle.jpg" alt="3"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-sm-8">
                                    <div class="slide-content">
                                        <h3 class="hidden-xs hidden-sm">Справка на получение оружия</h3>
                                        <p class="visible-xs visible-sm">Справка на получение оружия</p>
                                        <p class="hidden-xs hidden-sm">₽800</p>
                                        <small class="visible-xs visible-sm">₽800</small>
                                        <p class="hidden-xs hidden-sm">Чистка зубов и профилактика болезней десен*</p>
                                        <small class="visible-xs visible-sm">Чистка зубов и профилактика болезней десен*</small>
                                        <a href="/appointment" class="btn btn-success hidden-xs hidden-sm">Подписаться</a>
                                        <a href="/appointment"><button type="button" class="btn btn-success btn-sm visible-xs visible-sm">Подписаться</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="slide-wrapper">
                            <div class="row">
                                <div class="col-lg-2">
                                </div>
                                <div class="col-lg-3 col-sm-4">
                                    <div class="slide-image">
                                        <div class="thumbnail">
                                            <img class="center-block img-responsive" src="/images/neurology.jpg" alt="3"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-7 col-sm-8">
                                    <div class="slide-content">
                                        <h3 class="hidden-xs hidden-sm">Гигиена полости рта</h3>
                                        <p class="visible-xs visible-sm">Гигиена полости рта</p>
                                        <p class="hidden-xs hidden-sm">₽500 / месяц</p>
                                        <small class="visible-xs visible-sm">₽500 / месяц</small>
                                        <p class="hidden-xs hidden-sm">Чистка зубов и профилактика болезней десен*</p>
                                        <small class="visible-xs visible-sm">Чистка зубов и профилактика болезней десен*</small>
                                        <a href="/appointment" class="btn btn-success hidden-xs hidden-sm">Подписаться</a>
                                        <a href="/appointment"><button type="button" class="btn btn-success btn-sm visible-xs visible-sm">Подписаться</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <a class="left carousel-control" style="background: transparent;" href="https://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" style="background: transparent;" href="https://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div><!-- /.carousel -->