<div class="container">

  <h3 class="text-center">ЗАПИСАТЬСЯ НА ПРИЕМ</h3>
  <p>* Обязательное для заполнения поле</p>

  <script type="text/javascript">var submitted=false;</script>

  <iframe name="hidden_iframe" id="hidden_iframe"
  style="display:none;" onload="if(submitted)
  {window.location='http://immense-spire-54853.herokuapp.com/thank_you';}"></iframe>

  <form class="well form-horizontal" action="https://docs.google.com/forms/d/11vuAmyqlqykQqidbT99wwKYzxVS5LLj0YaUgW_KhmwA/formResponse" method="post"
  target="hidden_iframe" onsubmit="submitted=true;" id="contact_form"  style="background-color: #BFCADA;">

    <ol role="list" class="ss-question-list" style="padding-left: 0">

      <div class="form-group">
        <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
        <label class="ss-q-item-label col-md-4 control-label" for="entry_1068495292">
          <div class="ss-q-title">Ваше имя
          <label for="itemView.getDomIdToLabel()" aria-label="Обязательное поле"></label>
          <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
          <div class="ss-q-help ss-secondary-text" dir="auto"></div>
        </label>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" name="entry.1068495292" value="" class="ss-q-short form-control" id="entry_1068495292" dir="auto" aria-label="Ваше имя  " aria-required="true" required="" title="" placeholder="Иванов Иван Иванович">
          </div>
        </div>
        <div class="error-message" id="1189095447_errorMessage"></div>
        </div></div></div>
      </div>

      <div class="form-group">
        <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="auto" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
        <label class="ss-q-item-label col-md-4 control-label" for="entry_1382099411">
          <div class="ss-q-title">Контактный телефон
          <label for="itemView.getDomIdToLabel()" aria-label="Обязательное поле"></label>
          <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
          <div class="ss-q-help ss-secondary-text" dir="auto"></div>
        </label>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-phone-alt"></i></span>
            <input type="text" name="entry.1382099411" value="" class="ss-q-short form-control" id="entry_1382099411" dir="auto" aria-label="Контактный телефон  " aria-required="true" required="" title="" placeholder="(496) 000-00-00">
          </div>
        </div>
        <div class="error-message" id="1772658973_errorMessage"></div>
        </div></div></div>
      </div>

      <div class="form-group">
        <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
        <label class="ss-q-item-label col-md-4 control-label" for="entry_701081910">
          <div class="ss-q-title">Электронная почта
          </div>
          <div class="ss-q-help ss-secondary-text" dir="auto"></div>
        </label>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" name="entry.701081910" value="" class="ss-q-short form-control" id="entry_701081910" dir="auto" aria-label="Электронная почта  " title="" placeholder="Адрес электронной почты">
          </div>
        </div>
        <div class="error-message" id="1782031125_errorMessage"></div>
        </div></div></div>
      </div>

      <div class="form-group">
        <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="auto" class="ss-item ss-item-required ss-select"><div class="ss-form-entry">
        <label class="ss-q-item-label col-md-4 control-label" for="entry_1759138743">
          <div class="ss-q-title">Что Вас интересует
          <label for="itemView.getDomIdToLabel()" aria-label="Обязательное поле"></label>
          <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
          <div class="ss-q-help ss-secondary-text" dir="auto"></div>
        </label>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></span>
            <select name="entry.1759138743" id="entry_1759138743" aria-label="Что Вас интересует  " aria-required="true" required="" class="form-control"><option value="">Выбрать из списка</option>
            <option value="&#1057;&#1090;&#1086;&#1084;&#1072;&#1090;&#1086;&#1083;&#1086;&#1075;&#1080;&#1103;">Стоматология</option> <option value="&#1040;&#1085;&#1072;&#1083;&#1080;&#1079;&#1099;">Анализы</option> <option value="&#1043;&#1080;&#1085;&#1077;&#1082;&#1086;&#1083;&#1086;&#1075;&#1080;&#1103;">Гинекология</option> <option value="&#1044;&#1077;&#1088;&#1084;&#1072;&#1090;&#1086;&#1083;&#1086;&#1075;&#1080;&#1103; &#1080; &#1074;&#1077;&#1085;&#1077;&#1088;&#1086;&#1083;&#1086;&#1075;&#1080;&#1103;">Дерматология и венерология</option> <option value="&#1050;&#1072;&#1088;&#1076;&#1080;&#1086;&#1083;&#1086;&#1075;&#1080;&#1103;">Кардиология</option> <option value="&#1058;&#1077;&#1088;&#1072;&#1087;&#1077;&#1074;&#1090;">Терапевт</option> <option value="&#1059;&#1088;&#1086;&#1083;&#1086;&#1075;&#1080;&#1103;">Урология</option> <option value="&#1059;&#1079;&#1080;">Узи</option> <option value="&#1052;&#1077;&#1076;&#1080;&#1094;&#1080;&#1085;&#1089;&#1082;&#1080;&#1077; &#1089;&#1087;&#1088;&#1072;&#1074;&#1082;&#1080;">Медицинские справки</option> <option value="&#1052;&#1077;&#1076;&#1080;&#1094;&#1080;&#1085;&#1089;&#1082;&#1080;&#1077; &#1082;&#1085;&#1080;&#1078;&#1082;&#1080;">Медицинские книжки</option> <option value="&#1055;&#1088;&#1086;&#1092;&#1086;&#1089;&#1084;&#1086;&#1090;&#1088; &#1076;&#1083;&#1103; &#1086;&#1088;&#1075;&#1072;&#1085;&#1080;&#1079;&#1072;&#1094;&#1080;&#1081;">Профосмотр для организаций</option> <option value="&#1040;&#1082;&#1094;&#1080;&#1080; &#1080; &#1089;&#1087;&#1077;&#1094;&#1080;&#1072;&#1083;&#1100;&#1085;&#1099;&#1077; &#1087;&#1088;&#1077;&#1076;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1103; &#1082;&#1083;&#1080;&#1085;&#1080;&#1082;&#1080;">Cпециальные предложения</option> <option value="&#1044;&#1088;&#1091;&#1075;&#1086;&#1077;">Другое</option></select>
          </div>
          </div></div></div>
        </div>
      </div>

      <div class="form-group">
        <div class="ss-form-question errorbox-good" role="listitem">
        <div dir="auto" class="ss-item ss-item-required ss-paragraph-text"><div class="ss-form-entry">
        <label class="ss-q-item-label col-md-4 control-label" for="entry_1323639292">
          <div class="ss-q-title">Укажите день и время визита
          <label for="itemView.getDomIdToLabel()" aria-label="Обязательное поле"></label>
          <span class="ss-required-asterisk" aria-hidden="true">*</span></div>
          <div class="ss-q-help ss-secondary-text" dir="auto"></div>
        </label>
        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
            <textarea name="entry.1323639292" rows="8" cols="0" class="ss-q-long form-control" id="entry_1323639292" dir="auto" aria-label="Укажите удобное время визита и оставьте краткое сообщение по интересующему вопросу  " aria-required="true" required="" placeholder="Оставьте сообщение по интересующему вопросу"></textarea>
          </div>
        </div>
        <div class="error-message" id="38188012_errorMessage"></div>
        </div></div></div>
      </div>

      <div class="form-group">
        <div class="col-md-4">
          <input type="hidden" name="draftResponse" value="[,,&quot;-2027061852013892681&quot;]
          ">
          <input type="hidden" name="pageHistory" value="0">

          <input type="hidden" name="fvv" value="0">


          <input type="hidden" name="fbzx" value="-2027061852013892681">
        </div>

        <div class="col-md-4">
          <div class="ss-item ss-navigate">
            <table id="navigation-table">
              <tbody>
                <tr>
                  <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
                    <button type="submit" name="submit" id="ss-submit" class="jfk-button jfk-button-action btn btn-success"> Отправить <span class="glyphicon glyphicon-send"></span>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ol>
  </form>
</div>





      


    