
   


        <!--FOOTER-->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-text pull-left">
                    <p class="text-center">&copy; 2016 VR</p>   
                </div>
                <div class="navbar-text pull-right hidden-xs">
                    <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                    <a href="#"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fa fa-vk fa-2x"></i></a>
                </div>
                <div class="navbar-text pull-right visible-xs">
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-vk"></i></a>
                </div>
            </div>        
        </div>
  
