
   

    <div class="footer">
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="navbar-text pull-left">
                    <p class="text-center" style="color: white">&copy; 2016 VR</p>   
                </div>
                <div class="navbar-text pull-right hidden-xs">
                    <a href="#"><i class="fa fa-facebook-square fa-2x" style="color: white"></i></a>
                    <a href="#"><i class="fa fa-vk fa-2x" style="color: white"></i></a>
                </div>
                <div class="navbar-text pull-right visible-xs">
                    <a href="#"><i class="fa fa-facebook-square" style="color: white"></i></a>
                    <a href="#"><i class="fa fa-vk" style="color: white"></i></a>
                </div>
            </div>        
        </div>
    </div>
  
