        <nav class="navbar navbar-default" style="background-color: #FFF133;">
            <div class="container-fluid container-header">
                <div class="masthead" style="padding-top: 1%;">
                        <a href="/"><h4 class="text-center"><i class="fa fa-heartbeat" style="color: red;"></i> Медицинский диагностический центр</h4></a>
                        <a href="/"><h4 class="text-center">"ТВЕРСКОЙ ДОКТОР"</h4></a>

                        <div class="row hidden-xs">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <p class="text-right"><i class="fa fa-phone"></i> +7(496) 219-30-30</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <p class="text-center">Дубна, ул. 9 Мая, д. 7В</p>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <p class="text-left"><i class="fa fa-phone"></i> +7(925) 001-23-38</p>
                            </div>
                        </div>


                        <p class="text-center visible-xs">Дубна, ул. 9 Мая, д. 7В</p>
                        <p class="text-center visible-xs">+7(496) 219-30-30<br>+7(925) 001-23-38</p>
                    <nav>
                      <ul class="nav nav-justified">                 
                        <li><a href="/appointment">ЗАПИСАТЬСЯ НА ПРИЕМ</a></li>
                        <li><a href="/staff">КЛИНИКА</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">МЕДИЦИНСКИЕ УСЛУГИ<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <% for (var i = 0; i < medic.length; i++) { %>
                                <li><a href="/uslugi/<%= i + 1 %>"><%= medic[i].title %></a></li>
                            <% } %>
                          </ul>
                        </li>
                        <li><a href="/pricelist">ЦЕНЫ</a></li>
                        <li class="hidden-lg hidden-md hidden-sm"><a href="/special">СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ</a></li>
                        <li><a href="/adress" class="button">КОНТАКТЫ</a></li> 
                      </ul>
                    </nav>
                </div>
            </div>
        </nav>


    
       


