        <nav class="navbar navbar-default" style="background-color: transparent;">
            <div class="container-fluid container-header">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand hidden-xs" href="/"><i class="fa fa-heartbeat"></i> ГОРОДСКОЙ ДОКТОР</a>
                    <a class="navbar-brand visible-xs" style="font-size: 1.2em;" href="/"><i class="fa fa-heartbeat"></i> ГОРОДСКОЙ ДОКТОР</a>
                </div>
                <div class="hidden-xs">
                    <p class="navbar-text"><i class="fa fa-phone"></i> (001) 000-00-01</p>
                    <p class="navbar-text"><i class="fa fa-hospital-o"></i> ул. Мира, 123, город</p>
                </div>
                <div class="visible-xs">
                    <p class="navbar-text text-center"><i class="fa fa-phone"></i> (001) 000-00-01</p>
                    <p class="navbar-text text-center"><i class="fa fa-hospital-o"></i> ул. Мира, 123, город</p>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav pull-left">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Медицинские услуги<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <% for (var i = 0; i < medic.length; i++) { %>
                                <li><a href="/uslugi/<%= i + 1 %>"><%= medic[i].title %></a></li>
                            <% } %>
                          </ul>
                        </li>                   
                        <li><a href="/appointment">Записаться на прием</a></li>
                        <li><a href="/pricelist">Цены</a></li>
                        <li><a href="/staff">Клиника</a></li>
                        <li><a href="/adress" class="button">Контакты</a></li> 
                    </ul>
                </div>
            </div>
        </nav>


    
       


