<div class="container" style="padding-bottom: 5%;">   

   <h3 class="text-center">Наша клиника</h3> 

   <p class="lead" style="padding-top: 3%">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>     
       
   <h3 class="text-center" style="padding-top: 1%">Коллектив клиники</h3>
        
    <div class="container">        
        <div class="row" style="padding-top: 5%">      
            <div class="col-sm-2 col-md-3">
                <h4>Главный врач</h4>
            </div>
            <div class="col-sm-5 col-md-3">
                <img src="/images/male.png" class="img-responsive">
            </div>
            <div class="col-sm-4 col-md-6">
                <h4><b>Иванов Иван Иванович</b></h4>
                <p><b>Образование:</b> в 2010 году окончил Тверскую медицинскую академию по специальности "Лечебное дело"</p>
                <p><b>Опыт работы:</b> стаж работы по специальности более 5 лет</p>
                <p><b>Специализация:</b> врач-ревматолог</p>
            </div>
        </div>
        <div class="row" style="padding-top: 5%">       
            <div class="col-sm-2 col-md-3">
                <h4>Заведующая отделением стоматологии</h4>
            </div>
            <div class="col-sm-5 col-md-3">
                <img src="/images/female.png" class="img-responsive">
            </div>
            <div class="col-sm-4 col-md-6">
                <h4><b>Иванова Мария Ивановна</b></h4>
                <p><b>Образование:</b> в 2010 году окончила Воронежскую медицинскую академию по специальности "Стоматология"</p>
                <p><b>Опыт работы:</b> стаж работы по специальности более 5 лет</p>
                <p><b>Специализация:</b> протезирование</p>
            </div>
        </div>
        <div class="row" style="padding-top: 5%">      
            <div class="col-sm-2 col-md-3">
                <h4>Уролог</h4>
            </div>
            <div class="col-sm-5 col-md-3">
                <img src="/images/male.png" class="img-responsive">
            </div>
            <div class="col-sm-4 col-md-6">
                <h4><b>Петров Петр Петрович</b></h4>
                <p><b>Образование:</b> в 2010 году окончил Тверскую медицинскую академию по специальности "Лечебное дело"</p>
                <p><b>Опыт работы:</b> стаж работы по специальности более 5 лет</p>
                <p><b>Специализация:</b> урология</p>
            </div>
        </div>
        <h3 class="text-center" style="padding-top: 3%">Признание наших заслуг и документы</h3>
        <div class="row" style="padding-top: 5%">
            <div class="col-sm-4 col-md-4">
                <img src="/images/certificate1.png" class="img-responsive">
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="/images/certificate3.jpg" class="img-responsive">
            </div>
            <div class="col-sm-4 col-md-4">
                <img src="/images/certificate2.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>
