<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
    
  </head> 
  <body>
    <% include partials/header.ejs %>



    <% include partials/contact_form.ejs %>






    <!--
    <div>
      <iframe src="https://docs.google.com/forms/d/11vuAmyqlqykQqidbT99wwKYzxVS5LLj0YaUgW_KhmwA/viewform?embedded=true" width="100%" height="720" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>
    </div>
   
   
    <div class="hidden-xs" style="padding-top: 10%; padding-bottom: 10%;">
      <h3 class="text-center">Здесь будет запись на прием</h3>
    </div>

    <div class="visible-xs" style="padding-top: 10%;padding-bottom: 10%;">
      <p class="text-center">Здесь будет запись на прием</p>
    </div>-->
    
    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>
