<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
    
  </head> 
  <body>
    <% include partials/header.ejs %>
    <div class="hidden-xs">
      <% include partials/carousel.ejs %>
    </div>
    <% include partials/body.ejs %>
    
    <% include partials/footer.ejs %>
    <% include partials/scripts.ejs %>
  </body>
</html>
