<!DOCTYPE html>
<html>
  <head>
    <% include partials/head.ejs %>
    
  </head> 
  <body>
    <% include partials/header.ejs %>

      
    <h1 class="text-center hidden-xs hidden-sm" style="padding-top: 15%"><%= title %></h1>
    <h5 class="text-center visible-xs visible-sm" style="padding-top: 15%"><%= title %></h5>
    <div class="navbar-fixed-bottom">  
    <% include partials/footer.ejs %> 
    </div>  
    <% include partials/scripts.ejs %>
  </body>
</html>
